---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import BuyMeACoffee from "../components/BuyMeACoffee.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>About Evan</h3>
			<hr />
			<img width={1020} height={510} src="/about.jpg" alt="" />
			<hr />
			<div>
				<p>
					Hi there! My name's Evan, and this is a space to share my
					many passions. For now, you can find a growing body of
					photography work, particularly focused on climbing, skiing,
					and the outdoors.
				</p>
				<p>
					If you like my work, please consider supporting me so I can continue to develop my skills and attend events, camera in hand.
				</p>
			</div>
		<BuyMeACoffee />
		</main>
		<style>
			img {
				width: 250px;
				height: 250px;
				object-fit: cover;
				border-radius: 100%;
			}
		</style>
	</body>
</html>
