---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hi, I'm Evan.</h1>
			<h2>I'm a software engineer.</h2>

			<img width={1020} height={510} src="/about.jpg" alt="" />
			<p>
				I'm a passionate software engineer based in Seattle with a knack
				for crafting innovative, reliable solutions in the tech world.
				Over the years, I've contributed to transformative projects at
				industry giants like Microsoft and agile startups like iFixit.
				At Microsoft, I played a key role in developing a virtualized
				satellite ground station, building robust distributed systems
				and ensuring top-notch cybersecurity for our critical workloads.
				At iFixit, I took ownership of projects that not only modernized
				e-commerce platforms but also streamlined operations across
				global retail and wholesale channels.
			</p>
			<p>
				My technical expertise spans a diverse range of languages and
				tools—proficient in Python, Java, C#, SQL, and more—and I excel
				in leveraging modern cloud technologies such as Kubernetes,
				Helm, and infrastructure-as-code to create scalable, secure
				solutions. Whether it's working on cutting-edge cloud
				deployments or leading cross-functional teams to meet
				challenging goals, I'm driven by the thrill of solving complex
				problems and delivering impactful results.
			</p>
		</main>
		<Footer />
	</body>
</html>
